* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#alur-lelang-section .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    margin: 0 20px;
}